icons/
mpd/.config/mpd/mpd.log
ncmpcpp/.ncmpcpp/error.log
vim/.vim/bundle/
vim/.vim/undo/
vim/.vim/plugged
**/.DS_Store
ssh/.ssh/authorized_keys
ssh/.ssh/id_rsa
ssh/.ssh/id_rsa.pub
ssh/.ssh/known_hosts
ssh/.ssh/secret.key
ssh/.ssh/secret.key.pub
vim/.vim/autoload/
vim/.vim/undo/
