icons/
mpd/.config/mpd/mpd.log
ncmpcpp/.ncmpcpp/error.log
vim/.vim/bundle/
vim/.vim/undo/
**/.DS_Store
ssh/.ssh/authorized_keys
ssh/.ssh/id_rsa
ssh/.ssh/id_rsa.pub
ssh/.ssh/known_hosts
ssh/.ssh/secret.key
ssh/.ssh/secret.key.pub
vim/.vim/plugged/vim-matchit
vim/.vim/plugged/vim-tmux-resizer
vim/.vim/plugged/vim-matchit
vim/.vim/plugged/vim-tmux-resizer
ranger/.config/ranger/plugins/__init__.pyo
ranger/.config/ranger/plugins/devicons.pyo
ranger/.config/ranger/plugins/devicons_linemode.pyo
vim/.vim/autoload/plug.vim
vim/.vim/autoload/plug.vim.old
vim/.vim/general.vim
vim/.vim/plugged/ale
vim/.vim/plugged/black
vim/.vim/plugged/deoplete.nvim
vim/.vim/plugged/gv.vim
vim/.vim/plugged/lightline.vim
vim/.vim/plugged/mru
vim/.vim/plugged/tagbar
vim/.vim/plugged/undotree
vim/.vim/plugged/unicode.vim
vim/.vim/plugged/vim-better-whitespace/
vim/.vim/plugged/vim-flog/
vim/.vim/plugged/vim-fugitive
vim/.vim/plugged/vim-gitgutter
vim/.vim/plugged/vim-matchit
vim/.vim/plugged/vim-matchup/
vim/.vim/plugged/vim-move
vim/.vim/plugged/vim-polyglot
vim/.vim/plugged/vim-sl/
vim/.vim/plugged/vim-tmux-navigator
vim/.vim/plugged/vim-tmux-resizer
vim/.vim/plugged/wal.vim
vim/.vim/plugin-settings.vim
vim/.vim/plugins.vim
vim/.vim/undo/%Users%rowanfeely%.ticker.yaml
vim/.vim/undo/%Users%rowanfeely%dotfiles%alacritty%.config%alacritty%alacritty.yml
vim/.vim/undo/%Users%rowanfeely%dotfiles%mbsync%.mbsyncrc
vim/.vim/undo/%Users%rowanfeely%dotfiles%tmux%.tmux.conf
vim/.vim/undo/%Users%rowanfeely%dotfiles%zsh%.zsh%01-environment.zsh
vim/.vim/undo/%Users%rowanfeely%dotfiles%zsh%.zsh%06-aliases.zsh
vim/.vim/undo/%Users%rowanfeely%repos%rowanfeely.github.io%index.html
alacritty/.config/alacritty/alacritty.yml
ranger/.config/ranger/plugins/__init__.pyo
ranger/.config/ranger/plugins/devicons.pyo
ranger/.config/ranger/plugins/devicons_linemode.pyo
vim/.vim/autoload/plug.vim
vim/.vim/autoload/plug.vim.old
vim/.vim/general.vim
vim/.vim/plugged/ale
vim/.vim/plugged/black
vim/.vim/plugged/deoplete.nvim
vim/.vim/plugged/gv.vim
vim/.vim/plugged/lightline.vim
vim/.vim/plugged/mru
vim/.vim/plugged/tagbar
vim/.vim/plugged/undotree
vim/.vim/plugged/unicode.vim
vim/.vim/plugged/vim-fugitive
vim/.vim/plugged/vim-gitgutter
vim/.vim/plugged/vim-matchit
vim/.vim/plugged/vim-move
vim/.vim/plugged/vim-polyglot
vim/.vim/plugged/vim-tmux-navigator
vim/.vim/plugged/vim-tmux-resizer
vim/.vim/plugged/wal.vim
vim/.vim/plugin-settings.vim
vim/.vim/plugins.vim
vim/.vim/undo/%Users%rowanfeely%.ticker.yaml
vim/.vim/undo/%Users%rowanfeely%dotfiles%alacritty%.config%alacritty%alacritty.yml
vim/.vim/undo/%Users%rowanfeely%dotfiles%mbsync%.mbsyncrc
vim/.vim/undo/%Users%rowanfeely%dotfiles%tmux%.tmux.conf
vim/.vim/undo/%Users%rowanfeely%dotfiles%zsh%.zsh%01-environment.zsh
vim/.vim/undo/%Users%rowanfeely%dotfiles%zsh%.zsh%06-aliases.zsh
vim/.vim/undo/%Users%rowanfeely%repos%rowanfeely.github.io%index.html
